
body {
    font-family: sans-serif;
    background-color: rgb(116, 0, 145);
    color: #fff;
}

.card {
    box-shadow: 10px 10px 50px #000;
    border-radius: 3px;
    margin: 100px auto;
    width: 400px;
}

.card-inner {
    margin-left: 40px;
}

.card__section__top {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.card__section__top::after {
    content: '';
    position: absolute;
    height: 40px;
    width: 2px;
    background-color: #fff;
    left: 12px;
}

.card__folder {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card__folder__icon {
    background-color: #fff;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

.card__folder__text {
    padding: 10px 10px 10px 20px;
}

.card__section__dropdown {
    margin-right: 30px;
}

.card-inner-files {
    background-color: rgb(27, 1, 37);
}

.card__section__files {
    margin-left: 40px;
    position: relative;
}

.file {
    text-transform: capitalize;
    padding: 10px 10px 10px 40px;
    position: relative;
    
}

.file > p {
    display: inline-block;
    transition: all 0.2s ease; 
    cursor: pointer;
}

.file > p:hover {
    opacity: 0.5;
}

.file::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    top: 33px;
    left: 10px;
    background-color: #fff;
}

.file:first-child::after {
    content: '';
    position: absolute;
    height: 26px;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    left: 11px;
    top: 0px;
}

.file::after {
    content: '';
    position: absolute;
    height: 52px;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    left: 11px;
    top: -26px;
}

.card__section__files::after {
    content: '';
    position: absolute;
    height: 26px;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    left: 11px;
    bottom: 0px;
}

