
body {
    font-family: sans-serif;
    background: #834d9b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d04ed6, #834d9b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d04ed6, #834d9b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: rgb(255, 255, 255);
}

.card {
    margin: 150px auto;
    box-shadow: 12px 12px 50px rgb(0, 0, 0);
    width: 300px;
}

.section {
    margin-left: 24px;
    display: flex;
    justify-content: space-between;  
    align-items: center;
}

.section__top {
    align-items: flex-end;
    margin-bottom: 20px;
    padding-top: 20px;
}

.section__top * {
    margin: 0px;

}

.section__dropdown {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform: translateY(5px);
}

.section__divider {
    display: flex;
    align-items: center;
    position: relative;
}

.section__divider::after {
    content: '';
    width: 1px;
    height: 32%;
    left: -1px;
    background-color: #fff;
    position: absolute;
    top: 0px;
}

.section__divider::before {
    content: '';
    width: 1px;
    height: 32%;
    left: -1px;
    background-color: #fff;
    position: absolute;
    bottom: 0px;
    z-index: 9999;
}


.section__icon {
    border-radius: 50%;
    background-color: #fff;
    height: 14px;
    width: 14px;
    position: relative;
    transform: translateX(-7px);
}

.section__top::after {
    content: '';
    height: 44px;
    position: absolute;
    width: 1px;
    background-color: #fff;
}

.icon__image {
    height: 70%;
    width: 70%;
    position: absolute;
    top: 10%;
    left: 15%;
}

.section__text {
    font-size: 13px;
}

.section__dark_outer {
    
    background: #42275a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.section__dark_inner {
    flex-direction: column;
    align-items: flex-start;
}

.section__bullet-point {
    border-radius: 50%;
    background-color: #734b6d;
    height: 14px;
    width: 14px;
    transform: translateX(-7px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__bullet-point-inner {
    border-radius: 50%;
    background-color: #fff;
    height: 3.66px;
    width: 3.66px;
}